*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.cardandsearch{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px auto;
    padding: 0 20px;
    text-align: left;
}
.categoriesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardwidth {
    width: 24%;
    margin: 3px;
}
.cardwidthrecommendation{
    width: 35%;
    margin: 3px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
}

@media only screen and (max-width: 374px) {
    .categoriesContainer {
    flex-direction: column;
    }
    .cardwidth {
        width:100%;
        margin:2px auto;
    }
    .cardandsearch{
        text-align: center;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    padding: 0 20px;
    }
}
@media only screen and (max-width: 766px) {
    .cardwidth {
        width: 48%;
    }
    .cardandsearch{
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        padding: 0 20px;
        }
    
}
