*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.logosize{
width: 70px;
}
.imagesize{
    width: 50px;
}