*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.logosize{
width: 70px;
margin:0 30px;
}
.imagesize{
    width: 40px;
    margin: 20px;

}
.imagesize:hover{
    border: 1px solid gray;
    border-radius: 3px;
}

@media only screen and (max-width: 766px) {
    .imagesize{
        width: 30px;
        margin: 10px;
    
    }
    .logosize{
        margin: 0 20px;
    }
    

}