* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*MAIN HEADER */

.headerImage {
    width: 100%;
}

.textSize {
    font: 0.5em;
}

.headercontainer {
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-top: 20px;
    margin-bottom: 20px;
}


@media only screen and (max-width: 766px) {
    .headercontainer {
        display: flex;
        flex-direction: column;
       
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
/* ABOUT US */

.aboutUs {
    text-decoration: underline;
}

.aboutDiv {
    width: 50%;
    padding: 30px;
    display: inline-block;
    text-align: left;
}

@media only screen and (max-width: 766px) {
    .aboutDiv {
        width: 100%;
        text-align: center;

    }
}
    /* FORM */
    .myform {
        width: 40%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .myform input, textarea {
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px;
        border: 1px solid gray;
        border-radius: 5px;
    }
    @media only screen and (max-width: 766px) {
        .myform {
            width: 80%;
        }
    }
    /* BUTTON */
    .btn {
        background: orange;
        color: aliceblue;
        padding: 5px 20px;
        margin: 10px auto;
    }